$body-bg: #e8ba04;
$border-radius: 30px;
$primary: #e8ba04;
$headings-font-family: Open Sans, sans-serif;

@import '~bootstrap/scss/bootstrap';
@import '@fortawesome/fontawesome-free/css/all.css';
@import "../theme/scss/mdb.free.scss";

/* Cosntruccion del sitio */
@import "dashboard.scss";

body, html {
    padding: 0;
    margin: 0;
}

h1 {
    font: {
        size: 18px;
    }
}

#login-form {
    background: {
        color: $white;
    };
    border: {
        radius: $border-radius;
    };
}
.btn-login {
    @include button-variant(
        $body-bg,
        $white,
        color-contrast($body-bg),
        darken($body-bg, 25%),
        $white,
        $body-bg,
        $body-bg,
        $body-bg,
        #000
    );
}

form, .dataTables_length, .dataTables_filter {
    input, select, .form-control {
        background: #f3f3f3 !important;
    }
}

.page-link {
    border-radius: 5px;
}
