#sidebar {
    width: 264px;
    height: 100vh;
    position: fixed;
    top: 0;
    background: $body-bg;
    z-index: 1100;
    padding: 5px;

    .sidebar-header {
        padding: 10px 20px;

        h1 {
            color: $white;
        }
    }

    li, li a {
        color: $white;
    }

    li {
        font-size: 14px;
        font-weight: 600;
    }

    & > ul > li {
        padding: 10px 20px;
    }
}
